body {
    margin: 0;
}

header li {
    display: inline-block;
    margin: 8px;
}

header ul {
    position: absolute;
    top: 0px;
    right: 0px;
}

header .profile-image {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.middle .logo-image {
    width: 273px;
    height: auto;
    margin: 258px 65px 23px; /* logo-image, search-bar 사이 간격 23px */
}

.middle .google-logo {
    max-width: 400px; /* 화면 크기 400px되면 끌려나온다. */
    margin: auto;
}

.middle .search-box {
    max-width: 580px; /* 화면 크기 작아지면 같이 작아지는 기능 구현 필요  */
    margin: auto;
}

.middle .search-bar {
    width: 575px;
    height: 43px;
    border-radius: 20px;
    border: 1px solid rgb(225, 225, 226);
   
}