body {
    margin: 0;
}

header li {
    display: inline-block;
    margin: 8px;
    margin-right: 20px;
    font-size: 14px;
}

header ul {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0;
    text-align: center;
}

header .profile-image {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.middle .logo-image {
    width: 273px;
    height: auto;
    margin: 258px 65px 23px; /* logo-image, search-bar 사이 간격 23px */
}

.middle .google-logo {
    max-width: 400px; /* 화면 크기 400px되면 끌려나온다. */
    margin: auto;
}

.middle .search-box {
    max-width: 580px; /* 화면 크기 작아지면 같이 작아지는 기능 구현 필요  */
    margin: auto;
}

.middle .search-bar {
    width: 575px;
    height: 43px;
    border-radius: 20px;
    border: 1px solid rgb(225, 225, 226);
   
}

.middle .search-icon {
    position: absolute;
    margin: 13px 17px;
    color: rgb(154,160,166);
    font-size: 14px;
}

.middle .keyboard-icon {
    position: absolute;
    margin: 13px 505px;
    font-size: 16px;
    color: rgb(123,123,123);
}

.middle .microphone-icon {
    position: absolute;
    margin: 10px 545px;
    font-size: 18px;
    color: rgb(66,133,244);
}

.additional-box {
    max-width: 400px;
    margin: 33px auto; /* search-bar, additional-box 사이 간격 33px */
}

.additional-box a {
    background-color: rgb(248,249,250);
    text-decoration: none;
    color: black;
    border-radius: 5%;
    padding: 9px 17px; /* additional-search, additional-lucky 크기 조정 */
    font-size: 14px;
}

.additional-box .additional-search {
    margin: auto 5px auto 65px; /* additional-search, additional-lucky 사이 간격 조정, 위치 조정 */
}

.additional-box a:hover {
    border: 1px solid rgb(225, 225, 226);
}

footer {
    position: absolute; /* footer 하단 고정을 위해 */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(242,242,242);
    color: rgb(138,138,138);
    font-size: 15px;
    height: 100px;
    display: grid; /* 정확히 반반씩 사용하기 위해서 grid 사용 */
    grid-template-rows: 1fr 1fr;
}

footer .instruction ul {
    display: inline-block;
}

footer .instruction li {
    display: inline-block;
    margin-right: 17px;
}

footer .country-info {
    margin: 15px 35px;
}

footer .instruction {
    border-top: 1px solid rgb(225, 225, 226);
}

footer .left-side {
    position: absolute;
    left: 0;
}

footer .right-side {
    position: absolute;
    right: 0;
}